.menu{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.item{
    margin:15px;
    font-size: 35px;
    text-decoration: none;
}
a:hover{
    color:white;
    background-color: black;
    padding: 10px;
}